<!DOCTYPE HTML>
<!--
	Creado por: Diana Yolibeth Sanchez
	            Michael Wilfredo Banegas 
-->
<html>
	<head>
		<title>Inicio-Clientes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="#"><img class="logo-imagen" src="images/Logo HonduBank-small.png" /></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#">Prestamos</a></li>
						<li><a href="#">Cuenta de Ahorro</a></li>
						<li><a href="#">Tarjeta de Credito</a></li>
						<li><a href="Pago-linea.php">Pago en linea</a></li>
					<li>
                       Michael Banegas
                    <ul>
					<li><a href="#">Informacion Personal</a></li>
					<li><a href="logout.php"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
                        
                    </ul>
                    </li>
						
					</ul>
				</nav>
			</header>

			<!-- Four -->
			
			<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Realiza los pagos de tus servicios o transacciones de manera rapida.</h2>
							<p>Selecciona el servicio que deseas pagar:</p>
						</header>
						<div class="box alt">
						<form method="post" action="#">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
								<input type="radio" id="empresa-enee" name="empresa">
								<label for="empresa-enee"><i class="fas fa-lightbulb icon alt major"></i></label>
									<h3>ENEE</h3>
									<p>Servicio de energia electrica</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
								<input type="radio" id="empresa-sanaa" name="empresa">
								<label for="empresa-sanaa"><i class="fas fa-tint icon alt major"></i></label>
									<h3>SANAA</h3>
									<p>Servicio de agua </p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
								<input type="radio" id="empresa-telefono" name="empresa">
								<label for="empresa-telefono"><i class="fas fa-phone-volume icon alt major"></i></label>
									<h3>Hondutel</h3>
									<p>Servicio de Telefonia</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
								<input type="radio" id="empresa-cuenta" name="empresa">
								<label for="empresa-cuenta"><i class="fas fa-money-check-alt  alt major" style="background: #272833;border-radius: 100%;cursor: default;display: inline-block;height: 6em;
			                    line-height: 6em; margin: 0 0 2em 0;text-align: center; width: 6em;"></i></label>
									<h3>Transaccion </h3>
									<p>Tranfiere dinero a una cuenta bancaria</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
								<input type="radio" id="empresa-prestamo" name="empresa">
								<label for="empresa-prestamo"><i class="fas fa-money-bill-alt alt major " style="background: #272833;border-radius: 100%;cursor: default;display: inline-block;height: 6em;
			                    line-height: 6em; margin: 0 0 2em 0;text-align: center; width: 6em;"></i></label>
									<h3>Prestamos </h3>
									<p>Realiza pagos de tus prestamos activos</p>
								</section>
							</div>
						</div>
					</div>
				</section>

					<!-- Form -->
					<div id="main" class="wrapper style1">
					<div class="container">
	                    <section>
								<h3>Datos:</h3>
							<!--	<form method="post" action="#">-->
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="name" id="name" value="" placeholder="Monto a pagar" />
										</div>
										<div class="col-12">
											<select name="Prestamos" id="category">
												<option value="">- opciones-Prestamos -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
										<div class="col-4 col-12-medium">
											<input type="radio" id="Tarjeta-Debito" name="tarjeta" checked>
											<label for="Tarjeta-Debito">Tarjeta Debito</label>
										</div>
										<div class="col-4 col-12-medium">
											<input type="radio" id="Tarjeta-Credito" name="tarjeta">
											<label for="Tarjeta-Credito">Tarjeta Credito</label>
										</div>
										<div class="col-6 col-12-xsmall">
											<input type="text" name="name" id="name" value="" placeholder="Numero de Tarjeta" />
										</div>
										<div class="col-6 col-12-xsmall">
											<input type="password" name="name" id="name" value="" placeholder="PIN-Contraseña" />
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Realizar" class="primary" /></li>
												<li><input type="reset" value="Resetear" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>

				    	</div>
			       </div>
		</div>		

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. Todos los derechos reservados.</li><li>Diseñado por: <ul>Diana Yolibeth Sanchez</ul> <ul>Michael Wilfredo Banegas</ul> </li>
				</ul>
			</footer>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>