<!DOCTYPE HTML>
<html>
	<head>
		<title>Phantom </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css-tarjetas/main.css" />
	
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Fira+Sans+Condensed|Sunflower:300" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css-tarjetas/noscript.css" /></noscript>
	</head>
	<body class="is-preload" style="background: #1c1c2b">
		
		<!-- Wrapper -->
					<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							
							<!-- Logo -->
								
									<span><img id="img-logo" src="images/tarjeta-publicidad.jpg" alt="" /></span>
							
						</div>
					</header>

				

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 id="t-solicita">Solicita hoy mismo tus tarjetas de crédito HonduBank.</h1>
								<p id="goza">Goza de una inmensa lista de beneficios...</p>
							</header>
							<section class="tiles">
								<article class="style4">
									<span class="image">
										<img src="images/Classic.png" alt="" />
									</span>
									<a href="#">
										<h2 class = "more-information"> Click más información</h2>
										
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/Future.png" alt="" />
									</span>
									<a href="#">
										<h2>Click más información</h2>
										
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/Home.png" alt="" />
									</span>
									<a href="#">
										<h2>Click más información</h2>
										
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/Supermarket.png" alt="" />
									</span>
									<a href="#">
										<h2>Click más información</h2>
										
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/Woman.png" alt="" />
									</span>
									<a href="#">
										<h2>click más información</h2>
										
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="images/Man.png" alt="" />
									</span>
									<a href="#">
										<h2>Click más información</h2>
										
									</a>
								</article>
							</section>
						</div>
					<input type="button" value="Llena el formulario" style="margin-left: 100px; margin-top: 100px; margin-bottom: 100px">

				
					

			</div>
			<section style="background: #e45064; color: white">

					<div class="container" style="text-align:center">
						<header style="text-align:center; padding-top: 3%">

							<h2>Contáctanos a:</h2>
							<p>Nuestros números telefónicos a nivel nacional</p>
							<div><img src="images/Logo HonduBank.png" style="width:150px; height: 150px; padding-bottom: 20px"></div>
							
						</header>
						<div>
							TEGUCIGALPA<br>
								2280-1010<br>
							SAN PEDRO SULA<br>
								2280-1010<br>
							LA CEIBA<br>
								2280-1010<br><br>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<footer id="footer" style="background: #1c1c2b">
						<ul class="icons" style="text-align: center">
							<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright2" style="text-align: center">
							<li>&copy; Untitled. <p style="font-weight:700">Todos los derechos reservados.</p></li><li>Diseñado por: <ul>Diana Yolibeth Sanchez</ul> <ul>Michael Wilfredo Banegas</ul> </li>
						</ul>
				</footer>
			
			

		<!-- Scripts -->
			<script src="assets/js-tarjetas/jquery.min.js"></script>
			<script src="assets/js-tarjetas/browser.min.js"></script>
			<script src="assets/js-tarjetas/breakpoints.min.js"></script>
			<script src="assets/js-tarjetas/util.js"></script>
			<script src="assets/js-tarjetas/main.js"></script>

	</body>
</html>