<!--==========================
  Header
============================-->
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="#intro"><img src="../assets/img/logo1.PNG" height="40 px" width="80px"></a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a  [routerLink]="['/']" routerLinkActive="active">Inicio</a></li>
        <li><a [routerLink]="['/register']" >Registrate</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
