<section id="contact" class="login">
  <div class="section-header">
    <h3>Repositorio Personal</h3>
    
  </div>
<div style="margin-left:5%; margin-right: 5%;">
    <button class="btn btn-primary"  (click)="agregarARepositorio(modalGuardarEnRepo)">Crear nueva carpeta</button>  
    <button class="btn btn-primary" style="margin-left: 5%;" >Crear nuevo proyecto</button>  
    <div id="repositorio" style="border: 5px solid #000;">
      <div class="container">
        <div class="row"> 
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto 1</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto 1</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto 1</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto 1</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto jso</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto Drive</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto makeCode</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
          <div class="col-2" style="justify-content: center;align-items: center;">
            <img src="../../../assets/img/folder.jpg" alt="" width="80%" height="150px">
            <span style="color: black; text-align: center;">Proyecto 5</span>
            <div style="justify-content: space-around; align-items: center;">
              <fa-icon [icon]="faEdit" style="color: blue;"></fa-icon>
            <fa-icon [icon]="faTrash" style="color: red;"></fa-icon>
            <fa-icon [icon]="faDownload" style="color: green;"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</div>
   
 
</section><!-- #contact -->


<!-- Ventana modal de nueva carepta -->
<ng-template #modalGuardarEnRepo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear carpeta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cerro con la X')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="titulo">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="guardarNuevaCarpeta()">Guardar</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrar')">Cerrar</button>
  </div>
</ng-template>
