<!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="login">
            <div class="section-header">
              <h3>Bienvenido Michael Banegas</h3>
            </div>
    <div>
        Nuevo Proyecto
    </div>
       <div class="contenedor-titulo mt-3 mb-3" style="margin-left: 30%; margin-right: 40%;">
          <span style="color: black;">Titulo Proyecto:</span>
              <input type="text" class="form-control" value="Nuevo proyecto ">
       </div>
        
            <div class="container">
              <div class="row">
                <div class="col-4">
                    <!--Contenedor con el editor tipo html-->
                    <div id="editor"></div>
                </div>
                <div class="col-4">
                    <!--Contenedor con el editor tipo css-->
                    <div id="editor2"></div>
                </div>
                <div class="col-4">
                  <!--Contenedor con el editor tipo javascript-->
                  <div id="editor3"></div>
                </div>
              </div>
            </div>
            <!--Etiqueta de renderización-->
            <button class="btn btn-primary" onclick="update()">Guardar cambios</button>
            <iframe id="iframe" frameborder="0" style="background-color: cornflowerblue;"></iframe>  
            
    </section><!-- #contact -->